

body {
    height: 100%;
    background-color:#1c1d1d ;
 
  }
a,h1{
    color: #4db4d7;
}

 /* ---- particles.js container ---- */ 
 #particles-js{ 
     position:absolute; 
     width: 100%; 
     height: 100%; 
     background-repeat: no-repeat; 
     background-size: cover;
    background-position: 50% 50%; 
    } 

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }


li a:hover{
    color:gray;
    
}
.btn{
   border: 1px solid #4db4d7;
   color: #4db4d7;
}
.btn:hover{
    background-color: #4db4d7;
    border: 1px solid #4db4d7;

}
.navbar-toggler-icon{
    background-image: url("https://icon-library.com/images/burger-menu-icon/burger-menu-icon-20.jpg");
    width: 50px;
   background-color: #4db4d7;
}

.navbar-toggler-icon:hover{
    background-color: gray;
} 
.main-pic{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
       
}

@media all and (min-width:733px){
    #home{
        height: 1080px;
    }
    #background{
        margin-left: 60px;
    }
   
   #lang{
    width: 450px;
    height: 300px;
    margin-left: 60px;
    margin-top: 30px;
   }
   #submit-btn{
  
    margin-left: 180px;
}

}
@media all and (max-width: 480px){
    #home{
        height: 700px;
    }
    #scroll-lbl{
        display: none;       
    }
    .main-pic{
        width: 350px;
    }
    #home{
        height:700px ;
    }
    
   .copyright{
       color: white;
   }
   
   
    #intouch p,h4{
        margin-left:-50px;
        padding:0;
    }
    
    #title{
        width: 200px;
    }
    #resume{
        margin-top: -10px;
    }
 
    #lang{
        padding: 0;
        width:300px;
        margin-top: 5px;        
        margin-left: 30px;

    }
    #background{
        margin-top: -55px;
        padding: 0;
        width: 240px;
        margin-left: 10px;
        }
    
    #proj{
        margin-top: -30px;
       }
    
    div#contact{
        height: 900px;
    }
    
    div form{
        display: none
        ;
    }
    #contactme{
        margin-left: -10px;
    }
    img.contact-icon{
        width: 60px;
    }
    li .fa{
        margin-left: -15px;
        font-size: 18px;
    }
    #git{
        width: 300px;
        margin-left: -20px;
    }
   
    }
/*Landing*/

#btn-cv{

    margin: auto;
    
}
  

.row{
    margin-top: 50px;
 
}
/*ABOUT*/
#about{
    width: 80%;
    height: 1000px;
   
    background-color: white;
}
#background{
    
    word-wrap: break-word;
}


.skillbar {
    width: 90%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background-color: #4db4d7;
    content: "";
    height: 3px;
    position: absolute;
    width: 70%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background-color: #4db4d7;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #4db4d7;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {    
    float: right;
    display: inline-block;
    color:#4db4d7;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

/* CENTERING ONLY */

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/*PROJECTS*/

#projects{
    width: 80%;
    height: 900px;
    background-color:#1c1d1d ;
    
}
#proj{
    margin-top: 100px;;
}
.tools{
    margin: 8px;
}
.content {
    position: relative;
    width: 100%;
    max-width: 420px;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background:rgb(77, 180, 215, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }
  
  /*BLOG*/
  #blog{
    width: 80%;
    height: 1080px;
  }
  #blogs{
      margin-top: -30px;
  }
/*CONTACT*/

#contact{
    height: 1000px;
    background-color: white;
}
.contact-icon{
    width: 80px;
}
#intouch{
    margin-left: 100px;
}
#contact-form{
    margin-top: 30px;
}
form{
    margin-left: 80px;
    margin-top: 10px;
    
}
#submit-btn{
    background-color: #4db4d7;
    color: white;
    margin-left: 140px;
}
/*Footer*/

  /*Social *Icons*/
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
      }
    
.fa {
    color:#4db4d7 ;
    padding: 10px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

.footer a:hover{
    width: 45;
    color: gray;
}
#bounce {
        position: fixed;
        right: 0;      
        -webkit-animation:bounce 1.8s infinite;
      }
      
      @-webkit-keyframes bounce {
        0%       { bottom:5px; }
        25%, 75% { bottom:15px; }
        50%      { bottom:20px; }
        100%     {bottom:0;}
      }
#footer-logo{
    margin-top: 120px;
    padding: 0;
    margin-bottom: -10px;
}
.copyright{
    text-align: center;
    color: #1c1d1d;
    bottom:0;
  
}