

/* ===================================================================
 * # header styles
 *
 * ------------------------------------------------------------------- */
 .s-header {
    z-index: 500;
    width: 100%;
    height: 78px;
    background-color: transparent;
    position: absolute;
    top: 21px;
  }
  
  /* -------------------------------------------------------------------
   * ## header logo
   * ------------------------------------------------------------------- */
  .header-logo {
    z-index: 501;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 7.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .header-logo a {
    display: block;
    padding: 0;
    outline: 0;
    border: none;
  }
  
  .header-logo img {
    width: 155px;
    height: 36px;
  }
  
  /* ------------------------------------------------------------------- 
   * ## main navigation 
   * ------------------------------------------------------------------- */
  .header-nav {
    z-index: 600;
    font-size: 1.6rem;
    line-height: 1.875;
    padding: 3.6rem 3rem 3.6rem 6rem;
    height: 100%;
    width: 50%;
    background: #0C0C0C;
    color: rgba(255, 255, 255, 0.25);
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.7, 0.3, 0, 1);
    transition: all 0.5s cubic-bezier(0.7, 0.3, 0, 1);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
  
  .header-nav a,
  .header-nav a:visited {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .header-nav a:hover,
  .header-nav a:focus,
  .header-nav a:active {
    color: white;
  }
  
  .header-nav h3 {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .4rem;
    margin-bottom: 7.2rem;
    margin-top: 1.2rem;
    padding-right: 140px;
    color: #793ea5;
    position: relative;
  }
  
  .header-nav h3::after {
    content: "";
    display: block;
    height: 1px;
    width: 110px;
    background-color: #793ea5;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
  .header-nav p {
    margin-bottom: 2.7rem;
  }
  
  .header-nav__content,
  .header-nav h3 {
    left: 100px;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  
  .header-nav__content {
    position: relative;
    max-width: 300px;
  }
  
  .header-nav__list {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.286;
    margin: 0 0 4.2rem 0;
    padding: 0;
    list-style: none;
    counter-reset: ctr;
  }
  
  .header-nav__list li {
    padding: .9rem 0;
  }
  
  .header-nav__list a {
    display: block;
    color: #FFFFFF;
    position: relative;
  }
  
  .header-nav__list a::before {
    display: block;
    content: counter(ctr, decimal-leading-zero) ".";
    counter-increment: ctr;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  
  .header-nav__list a:hover::before {
    color: #793ea5;
  }
  
  .header-nav__list .current a::before {
    color: #793ea5;
  }
  
  .header-nav__social {
    list-style: none;
    display: inline-block;
    font-size: 2.4rem;
    margin: 0;
  }
  
  .header-nav__social li {
    display: inline-block;
    margin-right: 12px;
    padding-left: 0;
  }
  
  .header-nav__social li a {
    color: rgba(255, 255, 255, 0.15);
  }
  
  .header-nav__social li a:hover,
  .header-nav__social li a:focus {
    color: white;
  }
  
  .header-nav__social li:last-child {
    margin: 0;
  }
  
  .header-nav__close {
    z-index: 601;
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 39px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  
  .header-nav__close span::before,
  .header-nav__close span::after {
    content: "";
    display: block;
    height: 2px;
    width: 16px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 7px;
    margin-top: -1px;
  }
  
  .header-nav__close span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .header-nav__close span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* menu is open
   * ----------------------------------------------- */
  .menu-is-open .header-nav {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
  }
  
  .menu-is-open .header-nav .header-nav__content,
  .menu-is-open .header-nav h3 {
    opacity: 1;
    visibility: visible;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    left: 0;
  }
  
  /* ------------------------------------------------------------------- 
   * ## mobile menu toggle 
   * ------------------------------------------------------------------- */
  .header-menu-toggle {
    width: 48px;
    height: 45px;
    line-height: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: 8rem;
    top: 30px;
  }
  
  .header-menu-toggle.opaque {
    background-color: #000000;
  }
  
  .header-menu-icon {
    display: block;
    width: 26px;
    height: 2px;
    margin-top: -1px;
    right: auto;
    bottom: auto;
    background-color: white;
    position: absolute;
    left: 11px;
    top: 50%;
  }
  
  .header-menu-icon::before,
  .header-menu-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
  }
  
  .header-menu-icon::before {
    top: -9px;
  }
  
  .header-menu-icon::after {
    bottom: -9px;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * header
   * ------------------------------------------------------------------- */
  @media only screen and (max-width:1200px) {
    .header-logo {
      left: 60px;
    }
  
    .header-menu-toggle {
      right: 60px;
    }
  
  }
  
  @media only screen and (max-width:900px) {
    .header-nav h3 {
      padding-right: 0;
    }
  
    .header-nav h3::after {
      display: none;
    }
  
    .header-nav__content {
      max-width: 280px;
    }
  
    .header-nav__list {
      font-size: 2.5rem;
    }
  
    .header-nav__list li {
      padding: .6rem 0;
    }
  
  }
  
  @media only screen and (max-width:800px) {
    .header-logo {
      left: 40px;
    }
  
    .header-nav {
      width: calc(100% - 80px);
      padding: 3.6rem 3rem 3.6rem 5rem;
    }
  
    .header-menu-toggle {
      right: 40px;
    }
  
  }
  
  @media only screen and (max-width:600px) {
    .s-header {
      height: 90px;
      top: 12px;
    }
  
    .header-nav {
      padding: 3.6rem 3rem 3.6rem 4rem;
    }
  
    .header-menu-toggle {
      top: 27px;
      right: 25px;
    }
  
  }
  
  @media only screen and (max-width:400px) {
    .s-header {
      top: 6px;
    }
  
    .header-logo {
      left: 30px;
    }
  
    .header-logo img {
      width: 150px;
      height: 35px;
    }
  
    .header-nav {
      width: calc(100% - 40px);
    }
  
    .header-nav h3 {
      margin-bottom: 6rem;
    }
  
    .header-nav__list {
      font-size: 2.2rem;
    }
  
    .header-menu-toggle {
      top: 21px;
      right: 20px;
    }
  
    .header-nav__social {
      font-size: 2.2rem;
    }
  
  }